* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 60px;
  background-color: orange;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: ease-in 0.5s;
}
img {
  /*margin-left: 300px;
  margin-top: 5px;*/
  border-radius: 10px;
  width: 300px;
  display: flex;
  float: right;
  margin-right: 25px;
}
h1 {
  padding: 10px;
  color: rgb(241, 244, 245);
  cursor: pointer;
}

nav {
  width: 100%;
  height: 60px;
  background-color: black;

  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
nav a {
  transition: ease-in 0.5s;
}
nav a:hover {
  background-color: darkviolet;
  transform: scale3d(1.1, 1, 1);
  border-radius: 15px;
}

aside.visible {
  flex-direction: column;
  float: right;
  position: relative;
  z-index: 0;
  background-color: gray;
  width: 300px;
  height: 420px;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  margin-top: 34px;
  margin-bottom: 5px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
aside.visible.show {
  transform: translateX(0);
}
aside a i {
  margin-right: 8px;
  font-size: 20px;
}
aside a {
  display: block;
  padding: 30px;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
aside a:hover {
  background-color: greenyellow;
  transform: scale3d(1, 1.1, 1);
}
aside.hidden {
  display: none;
}
.slid {
  position: relative;
  right: 0;
  top: 0;
  width: 300px;
  height: 420px;
  background-color: gray;
  padding: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 34px;
  margin-right: 10px;
  margin-bottom: 5px;

  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.slid.open {
  transform: translateX(0);
}

#toggleBtn {
  position: relative;
  top: 10px;
  right: 20px;
  z-index: 1000;
  padding: 10px;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  border-radius: 10px;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}
h3 {
  padding: 10px;
}
article ul {
  margin-left: 20px;
  list-style-type: disc;
}

footer {
  display: flex;
  margin-top: 155px;
  width: 100%;
  height: 500px;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.fo {
  font-family: sans-serif;
  font-weight: bold;
}
.logo-container img {
  margin-top: 5px;
  border-radius: 0%;
  transition: border-radius 0.5s ease-in, transform 0.5s ease-in;
  transform: scale(1);
}

.logo-container:hover img {
  border-radius: 50%;
}
.logo-container {
  filter: drop-shadow(1px 1px 10px rgb(159, 6, 230));
}

.ftcl {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.ftcl li {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 15px;
}
.ftcl li i {
  margin-right: 8px;
  font-size: 20px;
}
.ftcl li {
  transition: ease-in 0.5s;
}
.ftcl li:hover {
  background-color: blueviolet;
  transform: scale3d(1.1, 1.1, 1);
}
.fo:hover {
  cursor: pointer;
}
h5 {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  header {
    width: auto;
  }
  nav {
    width: auto;
  }

  .baskervville-sc-regular img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 220px;
  }

  .logo-container {
    filter: drop-shadow(1px 1px 15px rgb(253, 253, 1));
  }
  .logo-container img {
    margin-left: 40px;
    margin-top: 18px;
  }
  .ftcl {
    display: grid;
    grid-template-columns: ;
  }

  footer {
    height: fit-content;
  }
  nav a {
    align-items: center;
    font-size: x-small;
  }
  #sidebar {
    width: fit-content;
    margin-top: 103px;
  }
  #toggleBtn {
    font-size: x-small;
    margin-bottom: -35px;
    background-color: black;
    color: white;
    padding-bottom: 30px;
  }
}
